In [5]:
from src.data.create_dataset import *
from src.features.data_cleaning import *
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import itertools
import calendar

In [13]:
## Preprocess (load data -> clean data -> save preprocessed data to cloud)
!python ../main/preprocess.py

In [14]:
## load the preprocessed data
df = get_output_data('clean')

Current version: 20220506-194145

In [16]:
## generate the features
!python ../main/feature_engineering.py

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,2.0,2020-08-04 03:12:27,2020-08-05 03:11:03,4.0,3.22,1.0,N,179,179,2.0,14.0,0.5,0.5,0.00,0.00,0.3,15.30,0.0
1,2.0,2020-08-04 05:08:10,2020-08-05 05:00:25,1.0,18.20,1.0,N,42,77,2.0,50.5,0.5,0.5,0.00,6.12,0.3,57.92,0.0
2,2.0,2020-08-04 06:03:35,2020-08-05 00:00:00,1.0,20.59,1.0,N,132,26,1.0,56.5,0.0,0.5,0.00,0.00,0.3,57.30,0.0
3,2.0,2020-08-04 09:00:40,2020-08-05 08:14:24,1.0,3.02,1.0,N,262,170,1.0,12.5,0.0,0.5,3.16,0.00,0.3,18.96,2.5
4,2.0,2020-08-04 09:35:52,2020-08-05 08:53:45,1.0,2.33,1.0,N,68,142,1.0,9.0,0.0,0.5,1.23,0.00,0.3,13.53,2.5

In [18]:
## load the features
df = pd.read_csv('gs://yellow_taxi_vineet/data/features/20220506-200751.csv')

In [19]:
df

,pick_up_weekday,pick_up_hour,pick_up_month,pick_up_minute,work_hours
0,1,3,8,12,False
1,1,5,8,8,False
2,1,6,8,3,False
3,1,9,8,0,True
4,1,9,8,35,True
...,...,...,...,...,...
777856,6,23,8,0,False
777857,6,23,8,48,False
777858,6,23,8,25,False
777859,6,23,8,50,False
777860,6,19,8,21,False