In [2]:
from src.data.create_dataset import *
from src.features.data_cleaning import *
import pandas as pd

In [14]:
df = read_data('2020', '08')

In [15]:
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1.0,2020-08-01 00:02:53,2020-08-01 00:28:54,1.0,13.20,1.0,N,237,16,2.0,36.50,3.0,0.5,0.00,0.00,0.3,40.30,2.5
1,2.0,2020-08-01 00:08:11,2020-08-01 00:16:28,1.0,2.83,1.0,N,146,137,1.0,10.50,0.5,0.5,1.50,0.00,0.3,15.80,2.5
2,2.0,2020-08-01 00:22:14,2020-08-01 00:22:20,1.0,0.00,1.0,N,264,264,2.0,2.50,0.5,0.5,0.00,0.00,0.3,3.80,0.0
3,2.0,2020-08-01 00:31:35,2020-08-01 00:36:54,1.0,2.34,1.0,N,79,141,1.0,8.00,0.5,0.5,2.36,0.00,0.3,14.16,2.5
4,2.0,2020-08-01 00:39:18,2020-08-01 00:42:09,1.0,1.32,1.0,N,141,263,1.0,5.50,0.5,0.5,1.86,0.00,0.3,11.16,2.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1007279,NaN,2020-08-17 10:44:01,2020-08-17 11:08:05,NaN,9.97,NaN,NaN,87,42,NaN,37.98,0.0,0.5,2.75,0.00,0.3,41.53,0.0
1007280,NaN,2020-08-17 10:32:00,2020-08-17 11:14:00,NaN,16.93,NaN,NaN,209,10,NaN,58.00,0.0,0.5,2.75,0.00,0.3,61.55,0.0
1007281,NaN,2020-08-17 10:30:00,2020-08-17 10:47:00,NaN,2.75,NaN,NaN,215,121,NaN,21.07,0.0,0.5,2.75,0.00,0.3,24.62,0.0
1007282,NaN,2020-08-17 10:21:32,2020-08-17 10:54:42,NaN,10.63,NaN,NaN,212,107,NaN,31.03,0.0,0.5,2.75,6.12,0.3,40.70,0.0
1007283,NaN,2020-08-17 10:38:00,2020-08-17 11:02:00,NaN,8.37,NaN,NaN,213,140,NaN,31.27,0.0,0.5,2.75,0.00,0.3,34.82,0.0

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1007284 entries, 0 to 1007283
Data columns (total 18 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   VendorID               936045 non-null   float64
 1   tpep_pickup_datetime   1007284 non-null  datetime64[ns]
 2   tpep_dropoff_datetime  1007284 non-null  datetime64[ns]
 3   passenger_count        936045 non-null   float64
 4   trip_distance          1007284 non-null  float64
 5   RatecodeID             936045 non-null   float64
 6   store_and_fwd_flag     936045 non-null   object
 7   PULocationID           1007284 non-null  int64
 8   DOLocationID           1007284 non-null  int64
 9   payment_type           936045 non-null   float64
 10  fare_amount            1007284 non-null  float64
 11  extra                  1007284 non-null  float64
 12  mta_tax                1007284 non-null  float64
 13  tip_amount             1007284 non-null  float64
 14  tolls_amount           1007284 non-null  float64
 15  improvement_surcharge  1007284 non-null  float64
 16  total_amount           1007284 non-null  float64
 17  congestion_surcharge   1007284 non-null  float64
dtypes: datetime64[ns](2), float64(13), int64(2), object(1)
memory usage: 138.3+ MB

In [4]:
## Preprocess (load data -> clean data -> save preprocessed data to cloud)
!python ../main/preprocess.py

In [7]:
## load the preprocessed data
clean_df = get_output_data('clean')

Current version: 20220506-235733

In [11]:
## generate the features
!python ../main/feature_engineering.py

Current version: 20220506-235733

In [12]:
## load the features
df = get_output_data('features')

Current version: 20220507-000344

In [13]:
df

,trip_duration,trip_speed,trip_tolls,pickup_weekday,pickup_hour,pickup_month,pickup_minute,work_hours,meter_eng,meter_dis,total_tip,total_fare,tip_percentage,big_tip,tpep_pickup_datetime,tpep_dropoff_datetime
0,1438.600000,0.002238,0.00,1,3,8,12,False,179,179,0.00,14.0,0.000000,False,2020-08-04 03:12:27,2020-08-05 03:11:03
1,1432.250000,0.012707,6.12,1,5,8,8,False,42,77,0.00,50.5,0.000000,False,2020-08-04 05:08:10,2020-08-05 05:00:25
2,1076.416667,0.019128,0.00,1,6,8,3,False,132,26,0.00,56.5,0.000000,False,2020-08-04 06:03:35,2020-08-05 00:00:00
3,1393.733333,0.002167,0.00,1,9,8,0,True,262,170,3.16,12.5,25.280000,True,2020-08-04 09:00:40,2020-08-05 08:14:24
4,1397.883333,0.001667,0.00,1,9,8,35,True,68,142,1.23,9.0,13.666667,True,2020-08-04 09:35:52,2020-08-05 08:53:45
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
777856,33.266667,0.156313,0.00,6,23,8,0,False,41,41,0.00,23.5,0.000000,False,2020-08-30 23:00:27,2020-08-30 23:33:43
777857,1.650000,0.303030,0.00,6,23,8,48,False,142,142,0.00,3.5,0.000000,False,2020-08-30 23:48:33,2020-08-30 23:50:12
777858,19.333333,0.528621,6.12,6,23,8,25,False,70,43,9.86,29.5,33.423729,True,2020-08-30 23:25:12,2020-08-30 23:44:32
777859,9.633333,0.285467,0.00,6,23,8,50,False,237,186,1.00,10.5,9.523810,True,2020-08-30 23:50:08,2020-08-30 23:59:46
777860,30.100000,0.246844,0.00,6,19,8,21,False,68,61,6.06,26.5,22.867925,True,2020-08-30 19:21:26,2020-08-30 19:51:32